VITE_API_BASE_URL=http://localhost:3000/api
VITE_WS_URL=http://localhost:3000
VITE_WS_PATH=/socket.io
VITE_DEFAULT_GAME_DATE=2026-03-11
VITE_DEMO_GAME_DATE=2026-03-23
VITE_DEMO_CHAT_GAME_ID=cmmn1vf520002gg0le1nfw0vb
